{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'idealist/detail_style.css' %}">
    <title>아이디어 디테일</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar_logo">
            <a href=""><u>My SW Idea Manage</u></a>
        </div>
        <ul class="navbar_menu">
            <li><a href="">아이디어 등록</a></li>
            <li><a href="">아이디어 관리</a></li>
            <li><a href="">개발툴 등록</a></li>
            <li><a href="">개발툴 관리</a></li>
        </ul>
    </nav>

    <div class="idea_content" style="background-color:black">
        <div class="idea_title">
            <h1 style="color:aquamarine">Idea Detail</h1>
            <span style="color:#FFFFFF">아이디어 세부내용 페이지 입니다. 당신이 구현하려 한 아이디어들을 자세히 살펴보세요.</span>
        </div>
        <hr width=100% color="#808080">
        
    </div>
</body>
</html>