{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'idealist/form_style.css' %}">
    <title>아이디어 등록</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar_logo">
            <a href="{% url 'ideas:idealist' %}"><u>My SW Idea Manage</u></a>
        </div>
        <ul class="navbar_menu">
            <li><a href="{% url 'ideas:create' %}">아이디어 등록</a></li>
            <li><a href="{% url 'ideas:idealist' %}">아이디어 관리</a></li>
            <li><a href="{% url 'ideas:create_tool' %}">개발툴 등록</a></li>
            <li><a href="{% url 'ideas:devtoollist' %}">개발툴 관리</a></li>
        </ul>
    </nav>
    

    <div class="idea_content" style="background-color:black">
        <div class="idea_title">
            <h1 style="color:aquamarine">Idea Register</h1>
            <span style="color:#FFFFFF">아이디어 등록 페이지입니다. 당신의 아이디어를 잊지 말고 기록하세요!</span>
        </div>
        <hr width=100% color="#808080">
        <div class="inputs">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="id_title">>> 아이디어명:<br></label><input type="text" name="title" maxlength="100" required id="id_title"><br>
                <label for="id_image">>> 대표 사진:<br></label><input type="file" name="image" accept="image/*" id="id_image"><br>
                <label for="id_content">>> 아이디어 설명:<br></label><textarea name="content" cols="40" rows="10" required id="id_content"></textarea><br>
                <label for="id_interest">>> 아이디어 관심도:<br></label><input type="number" name="interest" value="0" required id="id_interest"><br>
                <label for="id_devtool">>> 예상 개발툴:<br></label><input type="text" name="devtool" maxlength="100" required id="id_devtool"><br>
                
                <input type="submit" value="SUBMIT">
            </form>
        </div>
    </div>
</body>

</html>