{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" type="text/css" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'idealist/list_style.css' %}">
    <title>Document</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar_logo">
            <a href="{% url 'ideas:idealist' %}"><u>My SW Idea Manage</u></a>
        </div>
        <ul class="navbar_menu">
            <li><a href="{% url 'ideas:create' %}">아이디어 등록</a></li>
            <li><a href="{% url 'ideas:idealist' %}">아이디어 관리</a></li>
            <li><a href="">개발툴 등록</a></li>
            <li><a href="">개발툴 관리</a></li>
        </ul>
    </nav>

    <div class="idea_content" style="background-color:black">
        <div class="idea_title">
            <h1 style="color:aquamarine">Idea list</h1>
            <span style="color:#FFFFFF">나의 아이디어를 잊지 말고 기록해보세요</span>
        </div>
        <hr width=100% color="#808080">
        <div class="ideas">
        {% for idea in ideas %}
                <div class="one_idea" style="background-color: rgb(187, 255, 255);">
                    <div>
                        {% if idea.image %}
                        <img src = "{{ idea.image.url }}" alt="" height="250px" width="250px">
                        {% endif %}
                    </div>
                    <h2><a href="{% url 'ideas:detail' idea.id %}" style="color:black">{{ idea.title }}</a></h2>
                    <span>예상 개발 툴: {{ idea.devtool }}</span><br>
                    <span>아이디어 관심도: {{ idea.interest }}</span>
                    <button id="plus">+</button>
                    <button id="minus">-</button>
                </div>
        {% endfor %}
        </div>
    </div>
</body>
</html>