{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'idealist/form_style.css' %}">
    <title>개발툴 등록</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar_logo">
            <a href="{% url 'ideas:idealist' %}"><u>My SW Idea Manage</u></a>
        </div>
        <ul class="navbar_menu">
            <li><a href="{% url 'ideas:create' %}">아이디어 등록</a></li>
            <li><a href="{% url 'ideas:idealist' %}">아이디어 관리</a></li>
            <li><a href="{% url 'ideas:create_tool' %}">개발툴 등록</a></li>
            <li><a href="{% url 'ideas:devtoollist' %}">개발툴 관리</a></li>
        </ul>
    </nav>
    

    <div class="idea_content" style="background-color:black">
        <div class="idea_title">
            <h1 style="color:aquamarine">DevTool Register</h1>
            <span style="color:#FFFFFF">개발툴 등록 페이지입니다. 자신이 다룰 수 있는 개발툴을 등록해 보세요.</span>
        </div>
        <hr width=100% color="#808080">
        <div class="inputs">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="id_name">>> 이름:<br></label><input type="text" name="name" maxlength="100" required id="id_name"><br>
                <label for="id_kind">>> 종류:<br></label><input type="text" name="kind" maxlength="100" required id="id_kind"><br>
                <label for="id_description">>> 개발툴 설명:<br></label><textarea name="description" cols="40" rows="10" required id="id_description"></textarea><br>
                <input type="submit" value="SUBMIT">
            </form>
        </div>
    </div>
</body>

</html>